.logo {
  display: block;
  width: 97px;
  height: 55px;
  background: url(./logo/logo.svg) no-repeat center;
}

.button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  opacity: 1;
  cursor: pointer;
  background-color: rgb(255, 62, 121);
  border: 2px solid rgb(255, 62, 121);
  transition: box-shadow 0.5s ease;
  transition: opacity 0.5s ease;
}
.button:hover {
  box-shadow: 0 0 2px 1px rgb(255, 62, 121);
  opacity: 0.9;
}
.button--type--close {
  background: url(./button/button__img/burger_close.svg) no-repeat center/cover;
}
.button--type--menu {
  background: url(./button/button__img/burger_open.svg) no-repeat center/cover;
}
.button--type--search {
  background: url(./button/button__img/search.svg) no-repeat center/cover;
}
.button--type--call {
  background: url(./button/button__img/call.svg) no-repeat center/cover;
}
.button--type--text {
  background: url(./button/button__img/chat.svg) no-repeat center/cover;
}
.button--type--account {
  background: url(./button/button__img/profile.svg) no-repeat center/cover;
}
.button--type--application {
  background: url(./button/button__img/repair.svg) no-repeat center/cover;
}
.button--type--status {
  background: url(./button/button__img/check_status.svg) no-repeat center/cover;
}

.list {
  display: flex;
  align-items: center;
}
.list__item {
  list-style: none;
  cursor: pointer;
  position: relative;
  border-radius: 6px;
  border: 1px solid transparent;
  transition: border 0.5s ease, background-color 0.5s ease;
}
.list__item a {
  text-decoration: none;
  white-space: nowrap;
  color: black;
  transition: color 0.5s ease;
}
.list__item a:active {
  color: black;
}

.separator {
  width: 2px;
  height: 32px;
  border-radius: 0.5px;
  background-color: #EAEAEA;
}

@keyframes open--unwrap {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes close--unwrap {
  0% {
    transform: translateY(0) rotate(180deg);
  }
  50% {
    transform: translateY(-15px) rotate(180deg);
  }
  100% {
    transform: translateY(0) rotate(180deg);
  }
}
.unwrap-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: inherit;
  border: none;
  cursor: pointer;
  height: 24px;
  width: 120px;
}
.unwrap-btn span {
  white-space: nowrap;
  padding-left: 32px;
}
.unwrap-btn img {
  width: 24px;
  height: 24px;
  position: absolute;
}
.unwrap-btn--action--open:hover img {
  animation-name: open--unwrap;
  animation-timing-function: ease;
  animation-fill-mode: backwards;
  animation-delay: 0ms;
  animation-duration: 0.5s;
}
.unwrap-btn--action--close img {
  transform: rotate(180deg);
}
.unwrap-btn--action--close:hover img {
  animation-name: close--unwrap;
  animation-timing-function: ease;
  animation-fill-mode: backwards;
  animation-delay: 0ms;
  animation-duration: 0.5s;
}

@keyframes modal--open {
  0% {
    right: -1400px;
  }
  100% {
    right: 0px;
  }
}
@keyframes modal--close {
  0% {
    right: 0px;
    display: flex;
  }
  100% {
    right: -1400px;
  }
}
@keyframes menu--open {
  0% {
    left: -360px;
  }
  100% {
    left: 0px;
  }
}
@keyframes menu--close {
  0% {
    left: 0px;
    display: flex;
  }
  100% {
    left: -360px;
  }
}
.page {
  width: auto;
  height: auto;
  position: relative;
  display: flex;
  align-items: flex-start;
}
@media (min-width: 1336px) {
  .page {
    justify-content: center;
  }
}
.page__modal {
  display: none;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.7;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
@media (max-width: 1335px) {
  .page__modal--action--open {
    display: flex;
    animation-name: modal--open;
    right: 0;
    z-index: 1;
    animation-timing-function: ease;
    animation-fill-mode: backwards;
    animation-delay: 0ms;
    animation-duration: 0.3s;
    position: absolute;
    top: 0;
  }
  .page__modal--action--close {
    animation-name: modal--close;
    right: -1400px;
    z-index: 1;
    animation-timing-function: ease;
    animation-fill-mode: backwards;
    animation-delay: 0ms;
    animation-duration: 0.3s;
    position: absolute;
    top: 0;
  }
}
.page__menu {
  display: none;
  flex-direction: column;
  width: 320px;
}
@media (max-width: 1335px) {
  .page__menu--action--open {
    display: flex;
    animation-name: menu--open;
    left: 0;
    z-index: 2;
    box-shadow: 16px 0 52px rgba(14, 24, 80, 0.2);
    animation-timing-function: ease;
    animation-fill-mode: backwards;
    animation-delay: 0ms;
    animation-duration: 0.3s;
    position: absolute;
    top: 0;
  }
  .page__menu--action--close {
    animation-name: menu--close;
    left: -360px;
    z-index: 2;
    animation-timing-function: ease;
    animation-fill-mode: backwards;
    animation-delay: 0ms;
    animation-duration: 0.3s;
    position: absolute;
    top: 0;
  }
}
@media (min-width: 1336px) {
  .page__menu {
    display: flex;
  }
}
.page__container {
  width: 100%;
}
@media (min-width: 1336px) {
  .page__container {
    max-width: 1120px;
    box-shadow: 0px 2px 4px 0px rgb(0, 0, 0);
  }
}

.menu {
  background-color: white;
  padding: 24px;
}
.menu .logo {
  width: 102px;
  height: 51px;
}
.menu__header {
  display: flex;
}
.menu__navigation {
  display: flex;
}
.menu__footer {
  display: flex;
  flex-direction: column;
}
@media (max-width: 1335px) {
  .menu__footer {
    margin-top: 32px;
  }
}
@media (min-width: 1336px) {
  .menu__footer {
    margin-top: 241px;
  }
}
.menu__list--type--header {
  width: inherit;
}
@media (max-width: 1335px) {
  .menu__list--type--header .list__item:first-child {
    margin-right: 16px;
  }
  .menu__list--type--header .list__item:last-child {
    margin-left: 70.8px;
  }
}
@media (min-width: 1336px) {
  .menu__list--type--header .list__item:first-child {
    display: none;
  }
  .menu__list--type--header .list__item:last-child {
    margin-left: 128.4px;
  }
}
.menu__list--type--navigation {
  flex-direction: column;
  align-items: flex-start;
  margin-top: 40px;
}
.menu__list--type--navigation .list__item {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.2px;
  font-weight: 500;
}
.menu__list--type--navigation .list__item:before {
  content: "";
  width: 4px;
  height: 36px;
  position: absolute;
  top: -6px;
  left: -24px;
  border-radius: 6px;
  opacity: 0;
  background-color: rgb(65, 246, 215);
  transition: opacity 0.5s ease;
}
.menu__list--type--navigation .list__item:hover a {
  color: rgb(126, 126, 130);
}
.menu__list--type--navigation .list__item:hover:before {
  opacity: 1;
}
@media (max-width: 767px) {
  .menu__list--type--navigation {
    gap: 24px;
  }
}
@media (min-width: 768px) and (max-width: 1335px) {
  .menu__list--type--navigation {
    gap: 32px;
  }
}
@media (min-width: 1336px) {
  .menu__list--type--navigation {
    gap: 30px;
  }
}
.menu__list--type--top-footer {
  gap: 16px;
}
.menu__list--type--address {
  flex-direction: column;
  align-items: flex-start;
  margin-top: 16px;
  gap: 12px;
}
.menu__list--type--address .list__item {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.2px;
  font-weight: 500;
  font-style: normal;
}
.menu__list--type--address .list__item:hover a {
  color: rgb(126, 126, 130);
}
.menu__list--type--bottom--footer {
  gap: 7px;
}
.menu__list--type--bottom--footer button {
  background-color: inherit;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.2px;
  font-weight: 500;
  transition: color 0.5s ease;
}
.menu__list--type--bottom--footer button:hover {
  color: rgb(126, 126, 130);
}
@media (max-width: 1335px) {
  .menu__list--type--bottom--footer {
    margin-top: 8px;
  }
}
@media (min-width: 1336px) {
  .menu__list--type--bottom--footer {
    margin-top: 40px;
  }
}

.container__header {
  width: 100%;
}
@media (min-width: 1336px) {
  .container__header {
    max-width: 1120px;
  }
}
.container__about {
  width: 100%;
  margin-top: 0.5px;
  display: flex;
  flex-direction: column;
}
.container__about h1 {
  font-size: 28px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.6px;
  padding: 0 24px;
  margin-top: 20px;
}
@media (max-width: 767.8px) {
  .container__about {
    background-color: rgb(248, 248, 248);
  }
}
@media (min-width: 768px) and (max-width: 1335px) {
  .container__about {
    background-color: white;
  }
}
@media (min-width: 1336px) {
  .container__about {
    background-color: rgb(248, 248, 248);
  }
  .container__about h1 {
    display: none;
  }
}
.container__navigation--type--header {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 24px;
}
@media (max-width: 767.8px) {
  .container__navigation--type--header {
    justify-content: space-between;
    box-shadow: inset 0 -0.5px 0px 0px rgb(65, 246, 215);
  }
  .container__navigation--type--header .container__list--type--logo {
    gap: 16px;
  }
  .container__navigation--type--header .container__list--type--logo .list__item:first-child {
    display: none;
  }
  .container__navigation--type--header .container__separator--type--first {
    display: none;
  }
  .container__navigation--type--header .container__separator--type--last {
    display: none;
  }
  .container__navigation--type--header .container__list--type--connection {
    display: none;
  }
  .container__navigation--type--header .container__list--type--status {
    gap: 16px;
  }
  .container__navigation--type--header .container__list--type--status span {
    display: none;
  }
}
@media (min-width: 767.8px) and (max-width: 1335.8px) {
  .container__navigation--type--header {
    justify-content: flex-end;
    box-shadow: inset 0 -0.5px 0px 0px rgb(65, 246, 215);
  }
  .container__navigation--type--header .container__list--type--logo {
    gap: 20px;
    position: absolute;
    left: 24px;
  }
  .container__navigation--type--header .container__list--type--logo .list__item:first-child {
    display: none;
  }
  .container__navigation--type--header .container__separator--type--middle {
    display: none;
  }
  .container__navigation--type--header .container__separator--type--last {
    margin-left: 20px;
    margin-right: 20px;
  }
  .container__navigation--type--header .container__list--type--connection {
    gap: 16px;
  }
  .container__navigation--type--header .container__list--type--status {
    gap: 16px;
  }
  .container__navigation--type--header .container__list--type--status span {
    display: none;
  }
}
@media (min-width: 1336px) {
  .container__navigation--type--header {
    justify-content: space-between;
    background-color: rgb(248, 248, 248);
  }
  .container__navigation--type--header .container__list--type--logo .list__item:not(:first-child) {
    display: none;
  }
  .container__navigation--type--header .container__list--type--logo .list__item:first-child {
    display: block;
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.6px;
  }
  .container__navigation--type--header .container__list--type--logo .list__item:first-child :before {
    content: "";
    width: 4px;
    height: 40px;
    border-radius: 6px;
    background: rgb(65, 246, 215);
    opacity: 0;
    position: absolute;
    left: -25px;
    top: 0;
    transition: opacity 0.5s ease;
  }
  .container__navigation--type--header .container__list--type--logo .list__item:first-child:hover :before {
    opacity: 1;
  }
  .container__navigation--type--header .separator {
    display: none;
  }
  .container__navigation--type--header .container__list--type--connection {
    display: none;
  }
  .container__navigation--type--header .container__list--type--status {
    gap: 32px;
  }
  .container__navigation--type--header .container__list--type--status .list__item {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .container__navigation--type--header .container__list--type--status .list__item:hover span {
    color: rgb(126, 126, 130);
  }
  .container__navigation--type--header .container__list--type--status .list__item:hover button {
    box-shadow: 0 0 2px 1px rgb(255, 62, 121);
    opacity: 0.9;
  }
}
.container__navigation--type--about {
  padding: 0 24px;
  display: flex;
}
.container__navigation--type--about .list__item {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.2px;
  padding: 8px 20px;
}
.container__navigation--type--about .list__item:hover {
  background-color: white;
  border: 1px solid rgb(65, 246, 215);
}
@media (max-width: 1335px) {
  .container__navigation--type--about {
    flex-wrap: nowrap;
    overflow-x: scroll;
    scrollbar-width: none;
  }
}
@media (min-width: 1336px) {
  .container__navigation--type--about .container__list--type--about {
    flex-wrap: wrap;
  }
}
.container__article--type--about {
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding: 0 24px;
  padding-bottom: 16px;
  gap: 36px;
}
.container__article--type--about .article__img {
  width: 532px;
  height: 307px;
}
@media (max-width: 767.8px) {
  .container__article--type--about .article__img {
    width: 100%;
    height: 176px;
  }
}
@media (min-width: 768px) and (max-width: 1336px) {
  .container__article--type--about .article__img {
    width: 360px;
    height: 208px;
  }
}
.container__article--type--about .article__text {
  display: flex;
  flex-direction: column;
}
.container__article--type--about .article__text p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
  text-align: justify;
}
.container__article--type--about .article__text .article__p--type--p-top {
  margin-top: 15px;
}
.container__article--type--about .article__text .article__p--type--p-bottom {
  margin-top: 25px;
}
.container__article--type--about .article__text .unwrap-btn {
  margin-top: 14px;
}
@media (max-width: 767.8px) {
  .container__article--type--about .article__text .article__p--type--p-bottom {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1040px) {
  .container__article--type--about .article__text .article__p--type--p-top {
    margin-top: 40px;
  }
  .container__article--type--about .article__text .article__p--type--p-bottom {
    display: none;
  }
}
@media (max-width: 767.8px) {
  .container__article--type--about {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
}
.container h2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: rgb(126, 126, 130);
  padding: 24px;
  box-shadow: inset 0 -0.5px 0 0 rgb(65, 246, 215), inset 0 0.5px 0 0 rgb(65, 246, 215);
  background: linear-gradient(90deg, rgb(248, 248, 248), white);
}

@font-face {
  font-family: "TTLakes";
  src: url("fonts/TTLakes-Regular.woff") format("woff"), url("fonts/TTLakes-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "TTLakes";
  src: url("fonts/TTLakes-Medium.woff") format("woff"), url("fonts/TTLakes-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "TTLakes";
  src: url("fonts/TTLakes-Bold.woff") format("woff"), url("fonts/TTLakes-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "TTLakes";
  src: url("fonts/TTLakes-Bold.woff") format("woff"), url("fonts/TTLakes-Bold.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "TTLakes", Arial, sans-serif;
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
}
* :focus {
  outline: none;
}/*# sourceMappingURL=style.css.map */